.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #f0f0f8 0%, #ffffff 70%);
  height: 100vh;
  opacity: 0.9;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-image: url(../assets/background.jpg);
  background-size: 100vw;
  box-shadow: 0px 0px 20px 20px #f0f0f8;
  background-repeat: no-repeat;
  height: fit-content;
}
a {
  text-decoration: none;
}

.logo {
  z-index: 12;
}

.logo a {
  display: flex;
  margin: 0 10px;
}

.image-logo {
  border-radius: 50%;
  width: 60px;
  margin: 30px 0;
}

.logo-name {
  font-size: 1.7em;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 3px 3px #000066;
  align-self: center;
  margin-left: 10px;
  transform: translateY(-5px);
}

/* Navigation burger */
.nav-burger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 40px;
  width: 50px;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  z-index: 13;
}
.nav-burger-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000066;
  position: absolute;
  left: 0;
}
.first-line {
  top: 0;
}

.second-line {
  top: 50%;
  transform: translateY(-50%);
}

.third-line {
  bottom: 0;
}

/* burger cross */
header.open .first-line {
  top: 50%;
  transform: rotate(45deg);
  transition: ease 0.5s;
  background-color: #ffffff;
}

header.open .second-line {
  opacity: 0;
}

header.open .third-line {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
  transition: ease 0.5s;
  background-color: #ffffff;
}

/* Navigation style start */
.nav-list {
  position: absolute;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #000066, #000033);
  z-index: 8;
  transform: translateX(100%);
  transition: transform 0.5s, visibility 0.5s;
}

header.open .nav-list {
  transform: translateX(-100%);
  visibility: visible;
}
.nav-list-item {
  text-align: center;
  list-style-type: none;
  margin: 50px auto;
}
.nav-list-item a {
  color: #ffffff;
  font-size: 1.5em;
}

/* Main styles start */

main {
  margin: 10px;
  color: #000033;
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  word-spacing: 0.2em;
}

h1 {
  font-size: 1.5em;
  line-height: 1.3em;
}

footer {
  background-image: linear-gradient(to top, #000066, #333399 30%, #f0f0f8);
  box-shadow: 0 0 20px 4px #f0f0f8;
  height: 100px;
}
